@import 'styles/abstracts/_mixins.scss';
@import 'styles/abstracts/_variables.scss';
@import 'styles/base/_typography.scss';

.mainWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
